.App {
  font-family: sans-serif;


  main {
    display: flex;
  }

  h1 {
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    width: 100%;
    text-align: center;

    color: #085454;
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    width: 100%;
    text-align: center;

    color: #085454;
  }
}

.btnContainer {

  text-align: center;

  .btnModal {
    width: 600px;
  }

}