.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 1px solid #7A7A7A;
    box-sizing: border-box;
    padding: 24px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    color: #7A7A7A;

}

.favouriteBtn {
    background: unset;
    border: unset;
    outline: none;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
}

.favouriteImg {
    width: 20px;
}

.productImg {
    width: 150px;
}

.productPrise {
    color: #085454;
    font-size: 22px;
    position: absolute;
    bottom: 70px;

}

.productName {
    font-size: 20px;
    margin-right: auto;
    padding-top: 10px;
    color: #001542;
}

.productBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    font-size: 12px;
    margin-right: auto;
}

.productBtn {
    position: absolute;
    bottom: 0;
}

.count_cart {
    font-size: 22px;
    color: #085454;
}

.btnContainer {
    position: absolute;
    margin-top: 200px;
    text-align: center;
}