.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 24px;
  width: 100%;
  height: 60px;
  z-index: 100;
  font-family: sans-serif;
  background-color: #FFB30D;

  .iconHeader {
    display: flex;
  }

  .logo_img {
    width: 200px;
  }

  .header_img {
    width: 30px;
  }

  nav {
    padding-right: 20px;
  }

  ul {
    list-style: none;
    display: flex;
    padding: 10px;
  }

  li {
    margin: 0 30px;
  }

  a {
    color: #085454;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }
}

.cart {
  display: flex;
  background-color: #7A7A7A;
  height: 60px;
  margin-right: 0px;
  padding: 0 24px;
  align-items: center;
  color: #001542;
}

.cartImg {
  width: 26px;
}